layout{
    focus-ring{
        active-gradient from="#89d98fcc" to="#80d4d7cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#2f3c3c"
        urgent-color "#ffb4ab"
    }
}
