layout {

    focus-ring {
        active-color   "#5bdbbe"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#5bdbbe"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#5bdbbe"
        inactive-color "#005143"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#5bdbbe80"
    }
}

recent-windows {
    highlight {
        active-color "#5bdbbe"
        urgent-color "#ffb4ab"
    }
}
