layout {

    focus-ring {
        active-color   "#c4c0ff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c4c0ff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#c4c0ff"
        inactive-color "#413b8e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c4c0ff80"
    }
}

recent-windows {
    highlight {
        active-color "#c4c0ff"
        urgent-color "#ffb4ab"
    }
}
